.dropdown {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    label {
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }
    select {
        padding: 10px;
        width: 100%;
        border: 1px solid #c3c3c3;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
    }
}
