.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #007bff;
    animation: spin 0.7s linear infinite;
    @media (min-width: 500px) {
        width: 40px;
        height: 40px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    width: 45px;
    padding: 0px 5px;
    @media (min-width: 500px) {
        margin-top: auto;
        width: 45px;
    }
}
