.homeTitle {
    text-align: center;
    padding-block: 25px;
    overflow: hidden;
    word-wrap: break-word;
    h1 {
        font-size: 32px;
        font-weight: 600;
        color: #fff;
    }
    @media (min-width: 500px) {
        padding-block: 70px;
        h1 {
            font-size: 40px;
        }
    }
}
