.skeleton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    &__block {
        width: 100%;
        height: 10px;
        background-color: var(--grey-skeleton);
        margin: 0 5px;
        animation: loading 1.5s ease-in-out infinite;
        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.5s;
        }
    }
    @media (min-width: 500px) {
        &__block {
            height: 25px;
        }
    }
}

@keyframes loading {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
