.lastUpdated {
    padding-top: 10px;
    p {
        color: #000;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        padding-top: 0 10px;
    }
    @media (min-width: 500px) {
        p {
            font-size: 8px;
            text-align: right;
            padding: 0;
        }
    }
}
