.update {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    p {
        color: var(--black);
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        padding: 0 10px;
    }
    @media (min-width: 500px) {
        justify-content: flex-end;
        p {
            font-size: 15px;
            text-align: right;
            padding: 0;
        }
    }
}
