.header {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    height: 60px;
    padding: 20px 15px;
    &__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 20px;
        color: var(--white);
    }
    @media (min-width: 500px) {
        height: 75px;
        padding-inline: 70px;
        &__title {
            font-size: 26px;
        }
    }
}

.main {
    min-height: calc(100vh - 60px);
    padding-inline: 30px;
    background: linear-gradient(var(--primary-color), var(--primary-color)) 0 0 / 100% 300px,
        linear-gradient(var(--white), var(--white)) 0 300px / 100% calc(100% - 300px);
    background-repeat: no-repeat;
    @media (min-width: 500px) {
        min-height: calc(100vh - 75px);
        padding-inline: 100px;
        background: linear-gradient(var(--primary-color), var(--primary-color)) 0 0 / 100% 350px,
            linear-gradient(var(--white), var(--white)) 0 350px / 100% calc(100% - 350px);
        background-repeat: no-repeat;
    }
}
